<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header th:fragment="navbar" class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/drivers">Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vehicles">Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/assignments">Assignments</a>
                    </li>
                </ul>

                <div sec:authorize="isAnonymous()">
                    <div class="text-end">
                        <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                        <a href="/register" ><button type="button" class="btn btn-warning">Sign-up</button></a>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="text-end">
                        <p class="me-2" th:text="${#authentication.getName()}"></p>
                        <a href="/logout" ><button type="button" class="btn btn-warning">Logout</button></a>
                    </div>
                </div>


            </div>
        </div>
    </header>

</body>
</html>